
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>


<form>
    <div class="form-group">
<div ng-app="serviceApp" ng-controller="serviceCtrl">
<table class="table table-striped" style="width:100%">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nume</th>
      <th>Prenume</th> 
      <th>DataNastere</th>
      <th>Diplome</th>
      <th>Observatii</th>
      <th>AutoEvaluare</th>
      <th>Actiune</th>
    </tr>
   </thead>
    <tr *ngFor="let vars of result">
        <td><a (click)="onSelect(vars)"> {{ vars.ID }} </a></td>
        <td> {{ vars.nume }} </td>
        <td>{{ vars.prenume }}</td> 
        <td>{{ vars.dataNastere }}</td>
        <td>{{ vars.diplome }}</td>
        <td>{{ vars.Remarks }}</td>
        <td>{{ vars.AutoEval }}</td>
        <td> <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Edit"></span>
            <a routerLink="lista-cvdetaliu"><div class="bg-inverse text-white"></div></a>
          </button>
            
            <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"  data-toggle="tooltip" data-placement="top" title="Delete"></span></button>
       </td>
      </tr>
  </table>
  </div>
</div>
<button (click)="test(555)">click me</button>
</form>

