<!--The content below is only a placeholder and can be replaced.-->
<head>
  <meta charset="utf-8">
  <title>Single Page App - CV form </title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

 <!--
  <div class="panel panel-primary">
      <div class="panel-heading">Single Page App - CV form
      </div>
      <button class="btn btn-info"><a routerLink="/pagina2" ><div class="bg-inverse text-white">Afiseaza toti userii la data:  {{dataprelucrata}} </div></a></button>
  </div>
-->
    
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CV.com</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a routerLink="/">Home</a></li>
          <li ><a routerLink="input-cv"><div class="bg-inverse text-white">Input CV</div></a></li>
          <li ><a routerLink="lista-cv">Lista-CV</a></li>
          <li ><a routerLink="sa-uploadam">Upload</a></li>
        </ul>
      </div>
    </nav>
<br><br><br>



<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <ul class="list-group">
      <a  class="list-group-item">
          <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
      </a>
      <a  class="list-group-item">
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;Dashboard
      </a>
      <div class="nested-menu">
          <a class="list-group-item" >
              <span><i class="fa fa-plus"></i>&nbsp; Menu</span>
          </a>
          <li class="nested">
              <ul class="submenu">
                  <li>
                      <a href="javascript:void(0)"><span>Submenu1</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>Submenu2</span></a>
                  </li>
                  <li>
                      <a href="javascript:void(0)"><span>Submenu3</span></a>
                  </li>
              </ul>
          </li>
      </div>
  </ul>
</nav>


<router-outlet></router-outlet>
  <!--   
<div ng-app="serviceApp" ng-controller="serviceCtrl">
  </div> 
          <div class="container">
              <div class="row">
                  <div class="col">
                      <label for="nume">Nume</label>
                      <input type="text" class="form-control" id="nume"  [(ngModel)] = "nume" />
                      <label for="prenume">Prenume</label>
                      <input type="text" class="form-control" id="prenume" [(ngModel)] = "prenume" /> 
                      <label for="example-date-input" class="col-2 col-form-label">Data Nastere</label>
                      <div class="col-10">
                        <input class="form-control" type="date" value="2017-11-08" id="example-date-input" [(ngModel)] = "dataNastere">
                      </div>
                      
                      <div class="form-group">
                          <label for="Diplome">Diplome Obtinute</label>
                          <select multiple class="form-control" id="Diplome" [(ngModel)] = "diplome">
                            <option>Liceala</option>
                            <option>Universitara</option>
                            <option>Postuniversitara</option>
                            <option>MBA</option>
                          </select>
                        </div>

                        <div class="form-group">
                            <label for="Remarks">Cele mai importante lucruri despre tine</label>
                            <textarea class="form-control" id="Remarks" rows="3" [(ngModel)] = "Remarks"></textarea>
                          </div>

                          <fieldset class="form-group">
                              <legend>Auto evaluare</legend>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="Sunt mediocru" [(ngModel)] = "AutoEval">
                                  Sunt mediocru
                                </label>
                              </div>
                              <div class="form-check">
                              <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="Sunt destept" [(ngModel)] = "AutoEval">
                                  Sunt destept
                                </label>
                              </div>
                              <div class="form-check">
                              <label class="form-check-label">
                                  <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="Sunt inteligent" [(ngModel)] = "AutoEval">
                                  Sunt inteligent
                                </label>
                              </div>
                            </fieldset>

                            <button type="button" class="btn btn-success" (click)="handleSubmit()">Salveaza</button>
                            <button type="button" class="btn btn-danger">Reseteaza</button>  

                  </div>
              </div>
          </div>    
    

  <h3>String complet CV: <br>
    Nume: {{nume}} ; Prenume: {{prenume}} ; DataNastere: {{dataNastere}} ; Diplome {{diplome}} Observatii: {{Remarks}}+ AutoEvaluare {{AutoEval}}</h3>

<h3>Server message: {{array}}</h3>
<h3>Server message: {{rezultat}}</h3>

<div>{{result | json}}</div> 
<div>{{varButon | json}}</div>
<ul>
    <li *ngFor="let vars of varButon">
      {{ vars.nume }}
    </li>
  </ul>

  <a target="_blank" routerLink="/pagina2">lINK </a>
-->


  
  
 