
<div class="container">
<header>Edit Value {{Id}} {{numeInput}} </header>
  <br>
<table class="table" style="width:100%">

        <tr> 
              <td> ID </td>
              <td> {{Id}}</td>   
        </tr>
        <tr> 
            <td> Nume </td>
            <td> ds</td>   
        </tr>
        <tr> 
            <td> Prenume </td>
            <td> Valoare</td>   
        </tr>
        <tr> 
            <td> DataNastere </td>
            <td> Valoare</td>   
        </tr>
        <tr> 
            <td> Diplome </td>
            <td> Valoare</td>   
        </tr>
        <tr> 
            <td> Observatii </td>
            <td> Valoare</td>   
        </tr>
        <tr> 
            <td> AutoEvaluare </td>
            <td> Valoare</td>   
        </tr>
        <tr>
            <td>
              <button type="button" class="btn btn-success">Salveaza</button>  
            </td>  
        </tr>
  </table>

 </div>